target/
ca-ms-bean-annotation/target/
ca-ms-error/target/
ca-ms-feign/target/
ca-ms-logging/target/
ca-ms-database-connection/target/
ca-ms-bom/target/
ca-ms-mapper/target/
ca-ms-tracking/target/
*.class
*.jar
*.war
*.ear
*.iml
*.logs
.flattened-pom.xml
!.mvn/wrapper/maven-wrapper.jar

.idea/
.eclipse
build
.classpath
.project
.settings/

